<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html.erb">Home</a></li>
            <li><a href="aboutus.html.erb">About</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="products.html.erb">Our products</a></li>
            <li><a href="#">Meetings</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Bean lab</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
      </ul>

  </div><!-- /.container-fluid -->
</nav>
 <div class="section_head">
   <div class="section">
       <img src="img/careers.jpg" alt="Smiley face" class="home_img">
     </div>
     <div class="row home">
     <div class="col-md-6 col-md-offset-3 text-center about_section">
       <div class="about_us">
     <h2>ABOUT US</h2>
   </div>
     <p class="paragraph">Equal parts cafe, co-working zone, meeting room and event space, Whiteboard Cafe is HITEC City's one-stop hub for nutrition and productivity.<br><br>Located in the heart of HITEC City, Whiteboard Cafe serves up deliciously healthy vegetarian food and gourmet coffee. Add our co-working spaces, refreshing meeting rooms, and event facilities and you get a whole new dimension to the traditional cafe concept.
       <br><br>We also have a wide range of books, audio visual facilities, games and entertainment facilities for your recreation!</p>

 </div>
 </div>
<div class="row">
  <div class="background_color">
  <div class="container">
  <div class="col-md-8 col-md-offset-2 text-center top">
  <h2 class="meeting">Meetings</h2>

  <p class="m_meeting">Our meeting facilities are purpose-built to facilitate creativity, innovation and optimum performance. No matter your industry or agenda, rest assured that you'll find a conducive workspace in our multiple formats of conference rooms. </p>
 </div>
  <div class="row">
    <div class="col-md-6 text-center border">
      <div class="box">
       <img src="img/img_fjords.jpg" alt="Smiley face" class="img2">
       <div class="row">
         <div class="col-md-12">
           <div class="card">
         <h3 class="para_heading">MEETING ROOMS</h3>
           <p class="paragraph">Philosophy is considered a science but it is difficult to say, when <br>one has to compare with an ordinary science, for example biology, or chemistry.</p>
          <button type="button" class="left shape book">Book now</button>
       </div>
   </div>
 </div>
 </div>
 </div>
    <div class="col-md-6 text-center border">
      <div class="box">
       <img src="img/img_fjords.jpg" alt="Smiley face" class="img2">
       <div class="row">
         <div class="col-md-12">
           <div class="card">
         <h3 class="para_heading">COFFEE TABLES</h3>
           <p class="paragraph">Philosophy is considered a science but it is difficult to say, when <br>one has to compare with an ordinary science, for example biology, or chemistry</p>
          <button type="button" class="left shape book">Book now</button>
       </div>
     </div>
   </div>
   </div>
 </div>
 </div>
 </div>
 </div>
 </div>
   <div class="row">
     <div class="section_product">

    <div class="col-md-12 text-center">

     <h2 class="product">PRODUCTS</h2>
   </div>
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-md-6">
          <div class="left_product">
          <h1 class="slider_head">GOURMET COFFEE</h1>
          <div class="row">
            <p class="paragraph">We put coffee on a pedestal.That's why we source our beans directly from plantations on the hills of Chikmagalur, each one hand-picked and roasted using age-old traditions. This extracts maximum flavour from the beans, resulting in a tantalising aroma and the goodness you taste in each sip.</p>
            <input type="submit" class="btn btn-success submit_button" value="VIEW">
        </div>
      </div>
    </div>
        <div class="col-md-6">
      <img src="img/img_fjords.jpg" alt="Los Angeles">
    </div>
  </div>
</div>
</div>



    <!-- <div class="item">
      <img src="img/careers.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="img/background-image.jpg" alt="New York">
    </div>
  </div> -->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
   </div>

 <div class="row">
   <div class="col-md-6 color">
     <div class="square">
     <h2 class="heading">Become a member</h2>
     <div class="paragraph">
       <p>Being a member comes with a lot of perks</p>
       <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li><br>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li></br>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li></br>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li></br>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li></br>
      </ul>
    </div>

      <div class="button">
      <button type="button" class="btn btn-primary">Sign up</button>

  </div>
</div>
</div>
    <div class="col-md-6 text-center pad">
       <img src="img/img_fjords.jpg" alt="Smiley face" class="img3">
     </div>
  </div>
  <div class="row bg">
    <div class="col-md-6 col-md-offset-3 margin">
      <div class="row">
        <div class="col-md-3">
          <h3>All<h3>
        </div>
        <div class="col-md-3">
          <h3>Gourmet coffee</h3>
        </div>
        <div class="col-md-3">
          <h3>Cookies</h3>
        </div>
        <div class="col-md-3">
          <h3>Tea</h3>
        </div>
  </div>
</div>
  </div>
  <div class="row">

    <div class="col-md-6 text-center">
      <div class="contact">
      <h1 class="heading">GET IN TOUCH</h1>
      <div class="con">
        <div class="container">

          <div class="row">

              <div class="col-lg-8 col-lg-offset-2">
                  <form id="contact-form" method="post" action="contact.php" role="form">

                      <div class="messages"></div>

                      <div class="controls">

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input id="form_name" type="text" name="name" class="form-control name" placeholder="YOUR NAME" required="required" data-error="Firstname is required.">
                                      <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input id="form_email" type="email" name="email" class="form-control name" placeholder="EMAIL" required="required" data-error="Valid email is required.">
                                      <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 msg">
                                  <div class="form-group">
                                      <textarea id="form_message" name="message" class="form-control name_msg" placeholder="MESSAGE" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                      <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <input type="submit" class="btn btn-success submit_button" value="Submit">
                              </div>
                          </div>

                      </div>

                  </form>

              </div><!-- /.8 -->

          </div> <!-- /.row-->

      </div> <!-- /.container-->
     </div>
   </div>
 </div>

     <div class="col-md-6 text-center pad">
        <img src="img/img_fjords.jpg" alt="Smiley face" class="img3">
      </div>
   </div>
 </div>
